/*robot theme: 3E6972, 78BCC9, D65E2C, 47774D*/

/*GLOBAL*/
#global-nav {
  text-align: center;
}
.nav li{
  display: inline;
}
/*DROPDOWNS*/
.dropdown{
  display: inline;
}
.dropdown select{
  display: inline;
}
/*SIDEBAR*/
#side{
  margin-left: -150px;
  border-right: 2px solid black;
  width: 150px;
  position: fixed;
  background-color: #f5f5f5;;
}
#arrow{
  position: fixed;
  top: 50%;
  left: 25px;
}
.sidebar{
/*  display: none;*/
}
.sidebar-nav{
/*  position: fixed;*/
  width: 100px;
}
/*RIGHT LINKS*/
#essential{
  float: right;
}
/*MAIN PAGE*/
#bottom{
/*  background-color: #78BCC9;*/
/*  border: 5px solid #78BCC9;*/
}
.content h2 .star{
  width: 6%;
  margin-left: 2%;
  margin-bottom: 5%;
}
p .star, p .online, p .leaf{
  width: 3%;

}
.content img{
  width: 60%;
}
.container{
  text-align: center;
}
.content p{
  margin: 0;
  line-height: 18px;
}
.resource {
  height: 290px;
}
#reco {
  padding-top: 10px;
}
/*.dropdown-container{
  float: none;
}*/

/*FOOTER*/
footer{
  text-align: center;
}




/*h3 {
  color: #3E6972;
}

h2 {
	color: #D65E2C;
}

#icon-unicorn
	{
		float: right;
    -webkit-transform-origin:60% 0%;
    -webkit-animation:icon-unicorn 4s ease-in-out 1s 2 alternate;
	}

img
	{
    max-width: 100%;
		padding-bottom: 20px;
	}
#dom
	{
		height: 340px;
		width: 240px;
		float: right;
	}
.nav-list a {
	color: #3E6972;
}
.span9 a {
  color: #3E6972;
  text-shadow: 0.1em 0.05em #333;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #47774D;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff;
}
.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: #ffffff;
  background-color: #78BCC9;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
@-webkit-keyframes icon-unicorn {
  from { -webkit-transform: rotate(0deg);}
  70% { -webkit-transform: rotate(35deg);}
  to { -webkit-transform: rotate(0deg);}
}*/
